@charset "utf-8";
$images:'../images/';
@mixin background($img){
    background:url( #{$images}#{$img}.png ) no-repeat;

}
@mixin shadow($shadow...){
    box-shadow:$shadow;

}
@mixin backgroundImage($color...){
    background-image: linear-gradient(#{$color});

}
@mixin transition($style...){
    transition:$style;
}
@mixin max-screen($res){
    @media (max-device-width:#{$res}px){
        @content;
    }
}
@mixin min-screen($res){
    @media (min-device-width:#{$res}px){
        @content;
    }
}


html,body{
    height: 100%;
    width: 100%;
    font-family: "Sans-serif" !important;
}
a{
    &:link,&:visited,&:hover,&:active{
    text-decoration: none !important;
    
}
}

label {
    .error {
        color: #ea1616;
        font-weight: normal;
        white-space: normal !important;
        text-align: left !important;
        display: block;
    }
}
input{
    &::-webkit-calendar-picker-indicator{
        color: #717070;
        font-weight: normal;
    }
    &::-webkit-input-placeholder, &:-moz-placeholder,&::-moz-placeholder,&:-ms-input-placeholder{
        color: #9b9ea0;
        font-weight: normal;
    }


}